:host ::ng-deep .ui-multiselected-item-token,
:host ::ng-deep .ui-multiselected-empty-token {
    padding: 2px 4px;
    margin: 0 0.286em 0 0;
    display: inline-block;
    vertical-align:middle;
    height: 1.857em;
}

:host ::ng-deep .ui-multiselected-item-token {
    background: #007ad9;
    color: #ffffff;
}

:host ::ng-deep .ui-multiselected-empty-token {
    background: #d95f00;
    color: #ffffff;
}

.radioGroup {
  margin-top: 5px;
  margin-bottom: 5px;
  label {
    margin-left: 10px;
    margin-right: 15px;
  }
  p-radioButton {
    margin-left: 5px;
    margin-right: 10px;
  }
  p-calendar {
    margin-left: 10px;
  }
}