<div class="div-signin">
  <form class="form-signin" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" novalidate  autocomplete="off">
    <img [src]="url" />
    <h3 class="h6 mt-3 font-weight-normal text-left">Welcome to</h3>
    <h1 class="h3 mb-3 font-weight-normal">Online eStock Market</h1>

    <p *ngFor="let alert of alerts">
      <alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</alert>
    </p>

    <label for="inputUsername" class="sr-only">User name</label>
    <input ngModel name="name" id="inputUsername" class="form-control" placeholder="UserName" type="text">

    <label for="inputPassword" class="sr-only">Password</label>
    <input ngModel type="password" pPassword name="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="off"/>

    <div class="mb-3 ">
        <button class="btn btn-md btn-primary align-left" type="submit">Login </button>
        <button class="btn btn-md btn-secondary align_right" routerLink="/register">Register</button>
    </div>
  </form>
</div>
