<div class="container">
  <h1 class="h3 mb-3 font-weight-normal text-center">{{title}}</h1>
  <form [formGroup]="myProfileFormGroup" novalidate autocomplete="off">
    <div class="form-group row required">
      <label for="inputUsername" class="col-sm-2 col-form-label">User Account</label>
      <div class="col-sm-10">
        <input type="text" id="inputUsername" class="form-control" placeholder="User Name" formControlName="name">
      </div>
    </div>
    <div class="form-group row required">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" *ngIf="title.indexOf('Update') === -1; else template1" id="inputPassword" placeholder="Password" formControlName="password" class="form-control" autocomplete="off">
        <ng-template #template1>
          <input type="password" id="inputPassword" placeholder="Old Password" formControlName="password" class="form-control" autocomplete="off">
        </ng-template>
      </div>
    </div>
    <div class="form-group row required" *ngIf="title.indexOf('Register') === -1; else template2">
      <label for="inputPasswordAgain" class="col-sm-2 col-form-label">New Password</label>
      <div class="col-sm-10">
        <input type="password" id="inputPasswordAgain" placeholder="New Password" formControlName="newPassword" name="passwordAgain" class="form-control" autocomplete="off">
      </div>
    </div>
    <ng-template #template2>
    <div class="form-group row required">
      <label for="inputPasswordAgain" class="col-sm-2 col-form-label">Password Again</label>
      <div class="col-sm-10">
        <input type="password" id="inputPasswordAgain" placeholder="Password Again" formControlName="passwordAgain" name="passwordAgain" class="form-control" autocomplete="off">
      </div>
    </div>
    </ng-template>
    <div class="form-group row required">
      <label for="inputEmail" class="col-sm-2 col-form-label">Email Address</label>
      <div class="col-sm-10">
        <input type="text" id="inputEmail" placeholder="Email" formControlName="email" name="email" class="form-control">
      </div>
    </div>
    <div class="form-group row required">
      <label for="inputMobile" class="col-sm-2 col-form-label">Mobile</label>
      <div class="col-sm-10">
        <input type="text" id="inputMobile" placeholder="Mobile" formControlName="mobile" name="mobile" class="form-control">
      </div>
    </div>
    <div class="mb-3 text-center">
      <button class="btn btn-md btn-primary align-left" type="submit">OK</button>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-md btn-secondary align_right" (click)="forwardTarget()">Cancel</button>
  </div>
  </form>
</div>
