<div class="container">
  <div class="row mb-3">
    <div class="col-sm-auto">
      <p-autoComplete [(ngModel)]="company" [suggestions]="filteredCompanies" (onClear)="filteredCompany($event)" 
          (onSelect)="filteredCompany($event)" (completeMethod)="filteredCompany($event)" [size]="30"
          [minLength]="1" field="name" placeholder="Type Company Name" [dropdown]="true">
          <ng-template let-company pTemplate="item">
              <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                  <div style="font-size:18px;float:left;margin:10px 10px 0 0">{{company.name}}</div>
              </div>
          </ng-template>
      </p-autoComplete>
    </div>
    <div class="col col-sm-3">
      <button type="button" class="btn btn-primary" 
        tooltip="type the company which you want to search its information.">
      Search
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-auto">
      <p-table [value]="companies">
        <ng-template pTemplate="header">
            <tr class="text-center">
              <th>Index</th>
              <th *ngFor="let col of cols">
                {{col.header}}
              </th>
              <th *ngIf="withAction">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-company let-rowIndex="rowIndex">
            <tr class="text-center">
              <td>{{rowIndex + 1}}</td>
              <td *ngFor="let col of cols">
                {{company[col.field]}}
            </td>
            <td *ngIf="withAction"><button type="button" class="btn btn-primary">Edit</button></td>
            </tr>
        </ng-template>
    </p-table>
  </div>
</div>