<div class="div-signin">
  <form class="form-signin" novalidate>
    <h1 class="h3 mb-3 font-weight-normal text-center">Verify your Account</h1>
    <h6 class="h6 mb-3 font-weight-normal text-center">Please input the validation code which sent to your email address, 
      after you fill in the right code, your account will be actived.</h6>
      <label for="inputUsername">Check Code</label>
      <input ngModel type="text" id="inputUsername" name="name" class="form-control">
    <div class="mt-3 mb-3 text-center">
      <button class="btn btn-md btn-primary align-left" type="submit">OK</button>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-md btn-secondary align_right" routerLink="/login">Cancel</button>
  </div>
  </form>
</div>